/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-header-text {
  margin-left: 0px !important;
}

.mat-form-field {
  width: 95%;
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0, 0, 0, .77);
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
  color: rgba(11, 99, 6, .99);
}

.mat-card {
  width: 90%;
}


.style-error {
  width: 100%;
  margin: 2px;
  text-align: center;
  font-weight: bold;
  color: red;
  border: solid;
  border-color: red;
  border-width: 2px;
  background: rgba(255, 0, 0, .1);
}

.style-success {
  width: 100%;
  margin: 2px;
  text-align: center;
  font-weight: bold;
  color: green;
  border: solid;
  border-color: green;
  border-width: 2px;
  background: rgba(0, 255, 0, .1);
}
